// Should be used to modify the default spacing between objects (not between nodes of * the same object)
// p,m = padding,margin
// a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
// x,s,m,l,n = extra-small($space-x-small),small($space-small),medium($space-medium),large($space-large),none(0px)

.ptn, .pvn, .pan
  padding-top: 0 !important
.ptx, .pvx, .pax
  padding-top: $space-x-small !important
.pts, .pvs, .pas
  padding-top: $space-small !important
.ptm, .pvm, .pam
  padding-top: $space-medium !important
.ptl, .pvl, .pal
  padding-top: $space-large !important

.prn, .phn, .pan
  padding-right: 0 !important
.prx, .phx, .pax
  padding-right: $space-x-small !important
.prs, .phs, .pas
  padding-right: $space-small !important
.prm, .phm, .pam
  padding-right: $space-medium !important
.prl, .phl, .pal
  padding-right: $space-large !important

.pbn, .pvn, .pan
  padding-bottom: 0 !important
.pbx, .pvx, .pax
  padding-bottom: $space-x-small !important
.pbs, .pvs, .pas
  padding-bottom: $space-small !important
.pbm, .pvm, .pam
  padding-bottom: $space-medium !important
.pbl, .pvl, .pal
  padding-bottom: $space-large !important

.pln, .phn, .pan
  padding-left: 0 !important
.plx, .phx, .pax
  padding-left: $space-x-small !important
.pls, .phs, .pas
  padding-left: $space-small !important
.plm, .phm, .pam
  padding-left: $space-medium !important
.pll, .phl, .pal
  padding-left: $space-large !important

.mtn, .mvn, .man
  margin-top: 0px !important
.mtx, .mvx, .max
  margin-top: $space-x-small !important
.mts, .mvs, .mas
  margin-top: $space-small !important
.mtm, .mvm, .mam
  margin-top: $space-medium !important
.mtl, .mvl, .mal
  margin-top: $space-large !important

.mrn, .mhn, .man
  margin-right: 0 !important
.mrx, .mhx, .max
  margin-right: $space-x-small !important
.mrs, .mhs, .mas
  margin-right: $space-small !important
.mrm, .mhm, .mam
  margin-right: $space-medium !important
.mrl, .mhl, .mal
  margin-right: $space-large !important

.mbn, .mvn, .man
  margin-bottom: 0 !important
.mbx, .mvx, .max
  margin-bottom: $space-x-small !important
.mbs, .mvs, .mas
  margin-bottom: $space-small !important
.mbm, .mvm, .mam
  margin-bottom: $space-medium !important
.mbl, .mvl, .mal
  margin-bottom: $space-large !important

.mln, .mhn, .man
  margin-left: 0 !important
.mlx, .mhx, .max
  margin-left: $space-x-small !important
.mls, .mhs, .mas
  margin-left: $space-small !important
.mlm, .mhm, .mam
  margin-left: $space-medium !important
.mll, .mhl, .mal
  margin-left: $space-large !important
