.flex-row {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.flex-start {
  align-items: flex-start;
}

.flex-center {
  align-items: center;
}

.flex-justify {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flex-grid-vertical {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
