@import 'nib';
@import './include/spaces.styl';
@import './include/flex.styl';

*
  user-select: none
  cursor: default
  font-family: 'Roboto', sans-serif

html, body, .app-container
  height: 100vh

body
  background-image: -webkit-radial-gradient(49% -6%, #d40002 5%, #740002 100%)
  margin: 0

hr.filmstrip
  background: #2d2d2d url("images/filmstrip-background.svg") repeat-x left 5px top 4px
  height: 15px
  margin: 0
  border: 0

h1
  color: #fff
  padding: 20px 40px
  margin: 0
  font-weight: bold
  font-family: 'Oswald', sans-serif
  font-size: 48px
  text-shadow: rgb(0, 0, 0) 1px 3px 15px
  text-align: center

.auto-scroll
  overflow: auto

.shadow-down
  box-shadow: 0px 2px 3px 0px rgba(#000, .5)

.shadow-up
  box-shadow: 0px -1px 4px 0px rgba(#000, .5)

.app-menu
  background: #2d2d2d

  .button
    background: transparent
    margin: 10px 15px
    opacity: 0.5
    transition: all 200ms

    &.selected
      opacity: 1

    img
      cursor: pointer

.center-banner
  padding: 20px
  font-family: 'Oswald', sans-serif
  text-transform: uppercase
  font-weight: bold
  font-size: 70px
  color: white
  text-shadow: 1px 3px 15px black
  margin: auto
  text-align: center

.button
  cursor: pointer

.white-box
  background: white
  margin: 20px 40px
  box-shadow: 0px 2px 4px 0px rgba(#000, 0.5)
  padding: 20px

.text-right
  text-align: right

.overflow-auto
  overflow: auto

.mh-250
  min-height: 250px

.mh-20
  min-height: 20px

.search
  @extend .white-box

  transition: all 200ms
  height: 75px
  position: relative
  z-index: 2

  .status, .path
    font-family: 'Roboto', sans-serif
    font-weight: bold
    font-size: 24px
    color: black
    line-height: 29px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  img.status
    margin-right: 20px
    width: 46px

  .detail
    font-family: 'Roboto', sans-serif
    font-size: 14px
    color: black
    line-height: 17px
    margin-top: 13px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .info
    margin-top: 8px

  .actions
    margin-left: 20px
    display: flex
    flex-direction: column

    *
      cursor: pointer
      flex: 1

    .close
      display: block
      text-align: center

    .view, .alternatives
      display: none
      align-items: flex-end

    .close img
      height: 15px

    .view
      margin-bottom: 10px

      img
        height: 16px

    .alternatives img
      height: 21px

  &.active.unchanged
    opacity: 1

  &.unchanged
    opacity: 0.7
    height: 30px

    .info
      margin-top: 0

    .view, .close, .alternatives
      img
        height: auto

    .detail
      display: none

    .actions
      flex-direction: row-reverse

      .close, .view, .alternatives
        display: flex
        align-items: center

      .view
        margin: 0 20px

      .close
        flex: none

  &.downloaded, &.notfound, &.uploaded, &.error
    .view, .alternatives
      display: flex

.alternatives-box
  background: #E6E6E6
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50)
  margin: -110px 60px 28px
  z-index: 1
  padding: 20px
  position: relative
  opacity: 0
  transition: all 600ms

  p
    color: #E6E6E6
    margin: 0
    text-align: center

  &.active
    margin-top: -20px
    margin-bottom: 20px
    opacity: 1

  > div
    background: rgba(0, 0, 0, 0.65)
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50)
    padding: 20px

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      margin: 20px 0
      padding: 0

      &:first-of-type
        margin-top: 0

      &:last-of-type
        margin-bottom: 0

      &, *
        cursor: move !important

      > a
        background: #fff
        box-shadow: 0px 2px 4px 0px rgba(#000, .5)
        color: #000
        display: block
        padding: 20px
        text-decoration: none

        &.readed
          background: #ccc

.multiselect
  select
    width: 160px

.notification
  background: #2d2d2d
  color: white
  cursor: pointer
  font-weight: bold
  height: 0
  overflow: hidden
  text-align: center
  text-decoration: none
  transition: all 300ms

  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

  > div
    cursor: pointer

  &.active
    height: 60px

.dragging
  background-image: -webkit-radial-gradient(49% -6%, #4960d4 5%, #273473 100%)
